<section>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2 class="mb-5 mt-5 text-center">
                    Dernières sculptures réalisées
                </h2>

                <p class="mb-5 text-center text-muted">
                    Voici mes toutes dernières sculptures !
                </p>

            </div>
        </div>
        <div class="row">
        {% for sculpture in sculptures %}
            <div class="col-12">
                <div class="card card-row shadow-light-lg mb-4 lift lift-lg" data-aos="flip-up" data-aos-duration="1100" data-aos-easing="linear">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <a href="{{ path('app_sculpture_realisation', {'slug': sculpture.slug}) }}">
                                <img src="{{ vich_uploader_asset(sculpture, 'imageFile')}}" class="card-img" alt="{{ sculpture.nom }}">
                            </a>
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <a href="{{ path('app_sculpture_realisation', {'slug': sculpture.slug}) }}">
                                <h5 class="card-title">{{ sculpture.nom }}</h5>
                                <p class="card-text">{{ sculpture.description | u.truncate(200, '...', false) }}</p>
                                <p class="card-text"><small class="text-muted"> Ajoutée le {{ sculpture.createdAt | date('d/m/Y')  }}</small></p>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% block javascripts %}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({});
    </script>
{% endblock %}