{% extends 'base.html.twig' %}

{% block title %}Portfolio de Stéphane Paillot{% endblock %}

{% block body %}
    <section class="pt-5 pt-md-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-5 col-lg-5 text-center">
                    <h1 class="display-2 fw-bold text-dark">
                        {{ category.nom }}n
                    </h1>
                    <p class="lead text-white-75 mb-4">
                        {{ category.description }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="py-8 py-md-11 mt-nd10 mt-md-n14">
        <div class="container">
            <div class="row">
                {% for peinture in peintures %}
                    <a class="card shadow-light mb-5" href="#!">
                        <div class="card">
                            <img style="width:400px; heigth: 400px;" class="card-img" src="{{ vich_uploader_asset(peinture, 'imageFile') }}" alt="{{ peinture.nom}}">
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="row">
                {% for sculpture in sculptures %}
                    <a class="card shadow-light mb-5" href="#!">
                        <div class="card">
                            <img style="width:400px; heigth: 400px;" class="card-img" src="{{ vich_uploader_asset(sculpture, 'imageFile') }}" alt="{{ sculpture.nom}}">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}