{% extends 'base.html.twig' %}

{% block title %}Portfolio de Stéphane Paillot{% endblock %}

{% block body %}
    <section class="pt-5 pt-md-5 pb-5 pb-md-5 bg-grey-900">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-5 col-lg-5 text-center">
                    <h1 class="display-2 fw-bold text-dark">Portfolio</h1>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="py-5 py-md-3 mt-n5 mt-md-3">
        <div class="container">
            <div class="row" id-"portfolio">
                  
                {% for categorie in categories %}
                    <div class="col-12 col-md-4 mb-3">
                    {% set sculpture = categorie.sculptures|last %}
                        <div class="card text-center">
                            {# <img class="card-img-top justify-content-center" src="{{ vich_uploader_asset(peinture, 'imageFile') }}" alt="{{ categorie.nom }}"> #}
                            <div class="card-body">
                                <h4 class="card-title">{{ categorie.nom }}</h4>
                                <small class="card-text">{{ categorie.description }}</small>
                            </div>
                            <a  class="btn btn-primary" 
                            href="{{ path('app_portfolio_category', 
                            {'slug': categorie.slug}) }}">
                            Clicker pour découvrir
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
