{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <h2 cxlass="mb-0">Dernières actualités</h2>
                <p class="mb-5 text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At, enim voluptatem.
                </p>
            </div>
        </div>
        <div class="row">
        {% for actualite in actualites %}
            <div class="col-12 col-lg-4 d-flex">
                <div class="card card-row shadow-light-lg mb-4 lift lift-lg" data-aos="fade-up" data-aos-duration="700" data-aos-easing="linear">
                    <div class="col-md-8">
                        <a class="card-body my-auto" href="{{ path('app_actualite_detail', {'slug': actualite.slug}) }}">
                            <h3 class="mt-auto">{{ actualite.titre }}</h3>
                            <p class="card-text">{{ actualite.contenu | u.truncate(175, '...', false) }}</p>
                        </a>
                        <a class="card-meta" href="{{ path('app_actualite_detail', {'slug': actualite.slug}) }}">
                            <div class="card-footer">
                                <small class="text-muted"> Ajoutée le {{ actualite.createdAt | date('d/m/Y') }}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(actualites, 'shared/pagination.html.twig') }}
    </div>
</section>
{% endblock %}
