<nav class="navbar navbar-expand-lg navbar-light bg-light" id="coouleur_nav">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="/img/profile_20210716-095310-2.jpeg" style="width:120px; heigth: 120px;" class="navbar-brand-img" alt="profile stephane paillot">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ path('app_peintures') }}">
                        Peintures
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ path('app_sculpture') }}">
                        Sculptures
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ path('app_actualites') }}">
                        Actualités
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                       Porfolio 
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                        {% for c in categoryRepository.findAll() %}
                            <li class="dropdown-item dropend">
                                <a href="{{ path('app_portfolio_category', {'slug': c.slug}) }}">{{ c.nom }}</a>
                            </li>
                        {% endfor %}
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ path('app_a_propos') }}">
                        À Propos
                    </a>
                </li>
            </ul>
            <a href="{{ path('app_contact')}}" class="navbar-btn btn btn-sm lift ms-auto" id="effet">
                <i class="fa-solid fa-phone"></i>
                Me contacter
            </a>
        </div>
    </div>
</nav>