{% extends 'base.html.twig' %}

{% block title %} Peintures{% endblock %}

{% block body %}
<section class="pt-5 pt-md-10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4 mt-4 text-center">
                    Dernières peintures réalisées
                </h2>
                <p class="mb-5 text-muted">
                </p>
            </div>
        </div>
        <div class="row">
        {% for peinture in peintures %}
            <div class="col-12 d-flex">
                <div class="card card-row shadow-light-lg mb-4 lift lift-lg" data-aos="flip-up" data-aos-duration="1100" data-aos-easing="linear">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <a href="{{ path('app_peintures_realisations', {'slug': peinture.slug})}}">
                            <img src="{{ vich_uploader_asset(peinture, 'imageFile') | imagine_filter('size') }}" class="card-img" alt="{{ peinture.nom }}">
                        </a>
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ peinture.nom }}</h5>
                            <p class="card-text">{{ peinture.description | u.truncate(200, '...', false) }}</p>
                            <p class="card-text"><small class="text-muted"> Ajoutée le {{ peinture.createdAt | date('d/m/Y')  }}</small></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(peintures, 'shared/pagination.html.twig') }}
    </div>
</section>
{% endblock %}
{% block javascripts %}
   
{% endblock %}

